h2{
    background: aqua;
    text-decoration: none;
    border-radius: 3px;
    margin-left: 1px;

}
p{
    background: cornflowerblue;
    color: gold;
    text-align: justify;
    box-sizing: border-box;
    padding: 20px;
  margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    margin-left: 2px;
    height: 200px;
}
h1{
    background: cornflowerblue;
    color: gold;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}
ul {
    background: cornflowerblue;
    color: gold;
    padding: 5px 5px;
    border-radius: 5px;
}
a{
    text-decoration: none;
    color: lemonchiffon;
}
.simpson{
    color: darkgoldenrod;
}
html, body{
    scroll-behavior: smooth;
    margin: 0;
}
a:visited{
    color: silver;
}
img{
    display: block;
    border: 2px solid cornflowerblue;
    margin-left: 1px;
    border-radius: 5px;
}
.father{
    display: flex;
    padding-right: 20%;
}
.father1{
    display: flex;
    justify-content: center;
}


