body{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 25px;
}
.card{
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px black solid;
}

p{
    width: 60%;
    text-align: center;
    color: gray;
    margin-top: 0;
}

a{
    width: 150px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px black solid;
    text-decoration: none;
    color: black;
    margin-bottom: 30px;
}
h3{
    margin: 0;
}
.circle{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: -70px;
}
.inner{
    width: 80px;
    height: 80px;
    border: 1px solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}